* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 5px;
  height: calc(100vh - 10px);
  
  #mount, .app-container, .swipeable-view {
    height: 100%;
  }  
}

.disabled{
  opacity: 0.6;
}

// Chat Page

.chat-container{
  display:flex;
  flex-flow: column nowrap;
  background: white;
  padding: 10px;
  
  .chat-messages{
    flex-grow: 1;
  }
  
  .chat-input-container{
    font-size: 2rem;
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 95%;
    .chat-input{
      width: 85%;
      font-size: 1rem;
    }
    .plus-btn{
      width: 2rem;
      text-align: center;
    }
  }
  .send-btn{
    flex-grow:1;
    font-size: 1rem;
  }
}

// Tools Page

.tool-row{
  padding: $padding-base;
  border-bottom: 1px solid $gray-light;
  display: flex;
  .tool-image{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin: $padding-base 12px $padding-base $padding-base;
    > img{
      width: 100%;
      height: auto;
    }
  }
  .tool-status{
    flex-grow: 1;
    text-align: right;
    align-self: center;
    font-size: 0.8rem;
    opacity: 0.7
  }
}

// Loading Spinner

.listen-spinner{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listen-status{
  z-index: 10;
}