@import 'variables'

.chat-container
    display: flex
.message
    display: table
.meetingState
    font-weight: bold
.status
    color: gray
.presenter
    background-color: $jm-orange
.participant, .viewer
    background-color: $jm-green
.viewer
    align-self: flex-end