@import 'variables'
@import 'type'
@import 'layout'

@import 'profile'
@import 'bingo'  
    
.btn
  border-radius: .25rem
  height: 3rem
  margin-top: 1rem
  border: none
  font-size: 1.25rem
  text-transform: uppercase
  font-weight: bold
  color: white
  background: $gray

.btn-full
  width: 100%

.btn-primary
  background: $jm-green